.DS_Store
bin/
Frontend/src/RockRoute/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
Frontend/src/RockRoute/obj/Debug/net9.0/RockRoute.sourcelink.json
Frontend/src/RockRoute/obj/Debug/net9.0/RockRoute.csproj.CoreCompileInputs.cache
Frontend/src/RockRoute/obj/Debug/net9.0/RockRoute.AssemblyInfoInputs.cache
Frontend/src/RockRoute/obj/Debug/net9.0/RockRoute.AssemblyInfoInputs.cache
